{% extends "panel.html" %}

<!-- html, которая показывает программы, которые есть на ПК -->
{% block content %}
    <h1>Программы</h1>
    <div class="text-right">
        <a href="/programs/add" class="btn btn-secondary"><img src="https://www.pngkey.com/png/full/434-4344244_open-plus-in-circle.png" width="24" height="24">
            Добавить программу
        </a>
    </div>
    {% if all_programs|length == 0 and condition != "add" and condition != "edit" %}
        <div class="text-center">
            <p><b>Нет программ</b></p>
        </div>
    {% endif %}

    {% if condition == "add" %}
        <form method="post" action="">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <div class="row pt-3">
                <div class="col">
                    <div class="block-add-program parent">
                        <h6 style="padding-left: 20px;">Добавление программ</h6>
                        <b><p style="padding-left: 50px;">
                            {{ form.name_program(class="form-control setting-width-input children-center-vertical", placeholder="Название программы") }}<br>
                        </p></b>

                        <b><p>
                            {{ form.path_program(class="form-control children-center-horizontal", placeholder="Путь к программе") }}<br>
                        </p></b>
                        <p>{{ form.add_btn(type="submit", class="btn btn-info button-right-program children-center-vertical") }} </p>
                    </div>
                </div>
            </div>
        </form>

    {% elif condition ==  "edit" %}
        <form method="post" action="">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <div class="row pt-3">
                <div class="col">
                    <div class="block-add-program parent">
                        <h6 style="padding-left: 20px;">Изменить</h6>
                        <b><p style="padding-left: 50px;">
                            {{ form.name_program(class="form-control setting-width-input children-center-vertical", placeholder="Название программы") }}<br>
                        </p></b>

                        <b><p>
                            {{ form.path_program(class="form-control children-center-horizontal", placeholder="Путь к программе") }}<br>
                        </p></b>
                        <p>{{ form.change_btn(type="submit", class="btn btn-info button-right-program children-center-vertical") }} </p>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}

    {% for program in all_programs %}
        <div class="row pt-3">
            <div class="col" style="background: #FAF5DE;">
                <div class="block-add-program parent">
                    <h6 style="padding-left: 20px;">Программа</h6>
                    <b><p style="padding-left: 50px;" class="children-center-vertical">{{ program.name_program }}<br></p></b>
                    <div class="button-right-program children-center-vertical">
                        <a class="btn btn-info btn-more-details" href="#">Подробнее</a>
                        <a class="btn btn-warning" href="/programs/edit/{{ program.id }}">Изменить</a>
                        <a class="btn btn-danger" href="/programs/delete/{{ program.id }}">Удалить</a>
                    </div>
                </div>
                <div class="more-details">
                    <b><p>{{ program.path_program }}</p></b>
                </div>
            </div>
        </div>
    {% endfor %}
    {{message}}
{% endblock %}
