{% extends "base.html" %}

<!-- Вход в программу, используя логин и пароль -->
{% block content %}
    <div class="text-center row justify-content-center">
        <form class="form-signin" style="width: 300px;" method="post" action="">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <img class="mb-4" src="{{ url_for('static', filename='img/Icon_PC.jpg') }}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Войти</h1>
            <p>
                {{ form.email(class="form-control", placeholder="Email") }}<br>

                {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>

            <p>
                {{ form.password(class="form-control", placeholder="Пароль") }}<br>

                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label() }}</p>
            <p>{{ form.submit(type="submit", class="btn btn-primary col-9") }} </p>
            <p style="display: inline-block;">Нет аккаунта?</p>
            <a style="display: inline-block;" href="/registration" class="btn btn-info">Регистрация</a>
            {{message}}
        </form>
    </div>
{% endblock %}