{% extends "base.html" %}

<!-- Данная html страница приветствует пользователя -->
{% block content %}
    <!-- Добро пожаловать на сайт, описаны возможности и работы сайта -->
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Добро Пожаловать!</h1>
        <p class="lead">
            Всем привет! 
            Я рад приветствовать вас на своем сайте! 
            С помощью данного сервиса вы можете сделать управление своим компьютером более удобным. 
            Перед тем как начать, нужно зарегистрироваться или войти. 
        </p>
    </div>
    <!-- Показано видео с настройкой программы и как начать пользоваться сайтом -->
    <div class="row justify-content-center align-self-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8KeRd3Xg1KQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--        <iframe width="560" height="315" src="https://youtu.be/8KeRd3Xg1KQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
    </div>
{% endblock %}