{% extends "panel.html" %}

<!-- html, которая показывает функции операционной сисетмы, которые можно включать и выключать -->
{% block content %}
    <h1>Функции ПК</h1>
    <form method="post" action="">
      {{ form.hidden_tag() }}
      {{ form.csrf_token }}
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Функции</h6>
        <div class="media text-muted pt-3">
          <img class="" src="{{ url_for('static', filename='img/Icon_Off_PC.jpg') }}" alt="" width="32" height="32">
          <!-- <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg> -->
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Завершение работы</strong>
              {{ form.shut_down() }}
            </div>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <img class="" src="{{ url_for('static', filename='img/Icon_Reboot_PC.jpg') }}" alt="" width="32" height="32">
          <!-- <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg> -->
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Перезагрузка</strong>
              {{ form.reboot() }}
            </div>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <img class="" src="{{ url_for('static', filename='img/Icon_Moon_PC.jpg') }}" alt="" width="32" height="32">
          <!-- <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg> -->
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Спящий режим</strong>
              {{ form.sleep_mode() }}
            </div>
          </div>
        </div>
        <p>{{ form.button_save(type="submit", style="margin-top: 10px;", class="btn btn-warning button-right-program") }}</p><br>
      </div>
    </form>

{% endblock %}
