{% extends "panel.html" %}

<!-- html, которая показывает программы, которые есть на ПК -->
{% block content %}
    <h1>Сценарии</h1>
    <div class="text-right">
        <a href="/scenarios/add" class="btn btn-secondary"><img src="https://www.pngkey.com/png/full/434-4344244_open-plus-in-circle.png" width="24" height="24">
            Добавить сценарий
        </a>
    </div>

    {% if all_scenarios|length == 0 and condition != "add" and condition != "edit" %}
        <div class="text-center">
            <p><b>Нет сценария</b></p>
        </div>
    {% endif %}

    {% if condition == "add" or condition == "edit" %}
        <div>
            <div class="row pt-3">
                <div class="col">
                    <div class="block-add-program parent">
                        {% if condition == "add" %}
                            <h6 style="padding-left: 20px;">Добавление сценария</h6>
                        {% elif condition == "edit" %}
                            <h6 style="padding-left: 20px;">Изменения сценария</h6>
                        {% endif %}
<!--                   <b><p style="padding-left: 50px;">{{ form.name_scenario(class="form-control setting-width-input children-center-vertical", placeholder="Название сценария") }}<br></p></b>-->
<!--                        <input class="form-control setting-width-input children-center-vertical" id="name_scenario" name="name_scenario" placeholder="Название сценария" required type="text">-->
                        <b><p style="padding-left: 50px;">{{ form.name_scenario(class="form-control setting-width-input children-center-vertical", placeholder="Название сценария") }}</p></b>
                        <div class="button-right-program children-center-vertical">
                            <button class="btn btn-info" onclick="add_program_scenario()">Добавить программу</button>
                            {% if condition == "add" %}
                                <a href="#"><button class="btn btn-dark" onclick="sending_programs_scenario('add')">Создать</button></a>
                            {% elif condition == "edit" %}
                                <a href="#"><button class="btn btn-dark" onclick="sending_programs_scenario('edit', {{id|tojson}})">Сохранить</button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div id="add_program_scenario">
                {% if condition == "edit" %}
                    {% for program in programs %}
                        <div class="row pt-3 parent-block-scenario" id="block_program">
                            <div class="col">
                                <div class="block-add-program-scenario parent">
                                    <h6 class="children-center-vertical" style="padding-left: 20px;">Изменение программы</h6>
                                    <div class="button-right-program children-center-vertical">
                                        <input type="search" class="program_info" list="character" value={{program.name_program}}>
                                        <datalist id="character">
                                            {% for program_user in all_programs %}
                                                <option value={{program_user.name_program}}></option>
                                            {% endfor %}
                                        </datalist>
                                        <button type="button" class="button-delete-block-program btn btn-danger" onclick="delete_program_scenario()">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% for scenario in all_scenarios %}
        <div class="row pt-3">
            <div class="col" style="background: #FAF5DE;">
                <div class="block-add-program parent">
                    <h6 style="padding-left: 20px;">Сценарий</h6>
                    <b><p style="padding-left: 50px;" class="children-center-vertical">{{ scenario['scenario'].name_scenario }}<br></p></b>
                    <div class="button-right-program children-center-vertical">
                        <a class="btn btn-info btn-more-details" href="#">Подробнее</a>
                        <a class="btn btn-warning" href="/scenarios/edit/{{ scenario['scenario'].id }}">Изменить</a>
                        <a class="btn btn-danger" href="/scenarios/delete/{{ scenario['scenario'].id }}">Удалить</a>
                    </div>
                </div>
                <div class="more-details">
                    {% for program in scenario['programs'] %}
                        <p>{{ program.name_program }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    <b><p style="color: #ff9548;" id="message"></p></b>
    {{message}}


{% endblock %}
